.form-container {
    background: #fff;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    position: absolute;
    top: 15vh;

}

.bg {
    background-image: url();
    width: 100%;
    height: 100%;
    background-size: 100%;
}