{% extends 'base.html' %}
{% block title %} container
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">

</div>
<div class="container-fluid ">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">
            <h1 class="text-center">Contact us</h1>


            <form method="post" action="/contact">
                {% csrf_token %}

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="enter your name">
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="enter your email">
                </div>

                <div class="form-group">
                    <label for="phone">phone no</label>
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="enter your phone no">
                </div>


                <div class="form-group">
                    <label for="desc">tell us your problems</label>
                    <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>

        </div>
    </div>
</div>

{% endblock body %}
{% block footer%} {% endblock footer%}