{% extends 'base.html' %}
{% block title %} container
{% endblock title %}

{% block body %}
<style>
    * {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    #jobs {
        background: #f8f8f8;
        padding: 50px 0;

    }

    .company-details {
        box-shadow: 0 2px 70px 0 rgba(110, 130, 208, .18);
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .job-update {
        background: #fff;
        padding: 10px 20px;
    }

    .job-update .fa {
        margin-top: 5px;
        margin-right: 10px;
        color: #77d1b1;
    }

    .job-update small {
        background: #efefef;
        padding: 1px 5px;
        margin: 0 5px;
    }

    .job-update p {
        margin-bottom: 0 !important;
    }

    .job-update a {
        text-decoration: none !important;
        color: #b6bed2;
        float: right;
    }

    .apply-btn {
        height: 40px;
        background: gray;
        padding: 7px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    .apply-btn .btn-primary {
        padding: 0 30px;
        float: right;
        border-radius: 0;
        box-shadow: none ! important;
        background: transparent;
        border: 1px solid #fff;
    }
</style>
<section id="jobs">
    <div class="container">
        <h5>Recent updates</h5>
        <div class="company-details">
            <div class="job-update">
                <h4><b>senior python developer</b></h4>
                <p>xyz pvt ltd</p>
                <i class="fa fa-briefcase"></i><span>0-1 yrs</span> <br>
                <i class="fa fa-inr"></i><span>3.40-4.00 lakh</span> <br>
                <i class="fa fa-map-marker"></i><span>Bangalore</span> <br>
                <p>skills <i class="fa fa-angle-double-right"></i> <small>java</small>
                    <small>python</small> <small>html,css</small> <small>.net</small>
                </p>
                <p>description <i class="fa fa-angle-double-right"></i> subscribe this channel. <a href="#">read
                        more</a></p>

            </div>
            <div>
                <div class="apply-btn">
                    <button type="button" class="btn btn-primary"> apply</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="jobs">
    <div class="container">
        <h5>Recent updates</h5>
        <div class="company-details">
            <div class="job-update">
                <h4><b>senior java developer</b></h4>
                <p>xyz pvt ltd</p>
                <i class="fa fa-briefcase"></i><span>0-1 yrs</span> <br>
                <i class="fa fa-inr"></i><span>3.40-4.00 lakh</span> <br>
                <i class="fa fa-map-marker"></i><span>Bangalore</span> <br>
                <p>skills <i class="fa fa-angle-double-right"></i> <small>java</small>
                    <small>python</small> <small>html,css</small> <small>.net</small>
                </p>
                <p>description <i class="fa fa-angle-double-right"></i> subscribe this channel. <a href="#">read
                        more</a></p>

            </div>
            <div>
                <div class="apply-btn">
                    <button type="button" class="btn btn-primary"> apply</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="jobs">
    <div class="container">
        <h5>Recent updates</h5>
        <div class="company-details">
            <div class="job-update">
                <h4><b>senior django</b></h4>
                <p>xyz pvt ltd</p>
                <i class="fa fa-briefcase"></i><span>0-1 yrs</span> <br>
                <i class="fa fa-inr"></i><span>3.40-4.00 lakh</span> <br>
                <i class="fa fa-map-marker"></i><span>Bangalore</span> <br>
                <p>skills <i class="fa fa-angle-double-right"></i> <small>java</small>
                    <small>python</small> <small>html,css</small> <small>.net</small>
                </p>
                <p>description <i class="fa fa-angle-double-right"></i> subscribe this channel. <a href="#">read
                        more</a></p>

            </div>
            <div>
                <div class="apply-btn">
                    <button type="button" class="btn btn-primary"> apply</button>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock body %}
{% block footer%} {% endblock footer%}