{% extends 'usernavigation.html' %}


{% block body %}

<div class="container my-3 b1">
    <h3>candidates:</h3>
    {% for candidate in candidates %}

    <div class="container">
        <h1 class="alert-danger text-center p-3">Candidate Detail</h1>
        <div class="row">
         <div class="col-sm-10 shadow p-5 offset-sm-1">
          <img src="{{candidate.image.url}}" alt="" class="img-fluid img-thumbnail float-end mt-4" width="150" height="150">
          <p class="float-end">Applicantion No: {{candidate.id}}</p>
          <p>Name: {{candidate.name}}</p>
          <p>Job title: {{candidate.jobno}}</p>
          <p>Date of Birth: {{candidate.dob}}</p>
          <p>Gender: {{candidate.gender}}</p>
          <p>Address: {{candidate.locality}}, {{candidate.city}}, {{candidate.state}} - {{candidate.pin}}</p>
          <p>Mobile No: {{candidate.mobile}}</p>
          <p>Email ID: {{candidate.email}}</p>
          <p>Resume: <a href="{{candidate.ifile.url}}">Download File</a></p>
          <a href="/feedback" role="button" class="btn btn-primary">send feedback</a>
        </div>   

{% endfor %}
</div>






{% endblock body %}
