{% extends 'base.html' %}
{% block title %} container
{% endblock title %}

{% block body %}

<div class="container">
   
        
        <!--{{form}} ( it is 1 )solution -->
        <!--
        <ul class="contactList">
            <li id="subject" class="contact"> title: {{ form.title }}</li>
            <li id="email" class="contact">{{ form.companyname }}</li>
            <li id="message" class="contact">{{ form.describtion }}</li>
        </ul>
    
         
        {% for field in form %}
        <div class="row">
            <label for="{{ field.title}}">{{ field.label}}</label>{{ field }}
        </div>
        {% endfor %}
        <input type="submit" name="Submit">
    -->
    <h4>Edit job post:</h4>
<form action="" method="post">
    {{form.as_p}}
    {% csrf_token %}
    <input type="submit" value="update" class="btn btn-info btn-sm">
    

   
        
    </form>
</div>



{% endblock body %}
{% block footer%} {% endblock footer%}